@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
.gifts__link:first-letter {
  text-transform: uppercase;
}

.footer__links:after, .gifts:after, .contact:after {
  position: absolute;
  content: "";
  width: 110%;
  height: 1px;
  left: -5%;
  bottom: 0;
  background-color: #3b3b3b;
}

@media screen and (max-width: 1280px) {
  .footer__links:after, .gifts:after, .contact:after {
    width: 100%;
    left: 0;
  }
}

.newsletter {
  background-color: #e42c35;
  margin: 0 -15px;
  z-index: 1;
  position: relative;
  padding: 20px;
}

.newsletter__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.newsletter [class*="col-md-"] {
  z-index: 3;
}

.newsletter__header {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.newsletter__input {
  width: 210px;
  height: 40px;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: none;
  border: 1px solid #e42c35;
}

.newsletter__input::-webkit-input-placeholder, .newsletter__link {
  font-family: "Gotham Book";
}

.newsletter__input:-ms-input-placeholder, .newsletter__link {
  font-family: "Gotham Book";
}

.newsletter__input::-ms-input-placeholder, .newsletter__link {
  font-family: "Gotham Book";
}

.newsletter__input::placeholder, .newsletter__link {
  font-family: "Gotham Book";
}

.newsletter__text {
  color: #fff;
  font-family: "Gotham - Book";
  font-size: .85em;
  font-weight: 400;
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.newsletter__text--bold {
  margin-bottom: 0;
}

.newsletter__link {
  text-decoration: underline;
  color: inherit;
}

.newsletter__link:hover {
  color: #111;
}

.newsletter__icon {
  margin-right: 7px;
}

.footer {
  margin: 0 -15px;
  position: relative;
  background-color: #111;
  z-index: 1;
}

.footer__wrapper {
  z-index: 99;
}

.footer__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media screen and (max-width: 768px) {
  .footer__img {
    height: 50%;
  }
}

.footer__links {
  position: relative;
  width: 100%;
}

.footer__link {
  color: #fff;
  font-size: .75em;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  padding-left: 46px;
  position: relative;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__link:hover {
  color: #e42c35;
}

.footer__link:after {
  position: absolute;
  content: "";
  top: 20%;
  right: -23px;
  height: 60%;
  width: 2px;
  background-color: #3b3b3b;
}

.footer__link:last-child::after {
  display: none;
}

@media screen and (max-width: 576px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__link:after {
    left: 20px;
  }
  .footer__link:last-child::after {
    display: block;
  }
}

.gifts {
  padding-bottom: 23px;
  margin-bottom: 23px;
  position: relative;
}

.gifts__header {
  color: #e42c35;
  font-family: Gotham;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  width: 90%;
}

.gifts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gifts__link {
  color: #fff;
  font-family: "Gotham - Book";
  font-size: .82em;
  font-weight: 400;
  line-height: 22px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 6px;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.gifts__link:hover {
  color: #e42c35;
}

@media screen and (max-width: 576px) {
  .gifts__link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contact {
  margin-bottom: 23px;
  padding-bottom: 23px;
  position: relative;
}

.contact__header {
  color: #e42c35;
  font-family: Gotham;
  font-size: 1.06em;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .contact__header {
    margin: 30px auto;
  }
}

.contact__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.contact__item:hover {
  color: #e42c35;
}

.contact__column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

.contact__column:after, .contact__column:before {
  content: '';
  position: absolute;
  top: 0;
  height: 55px;
  width: 1px;
  background-color: #3b3b3b;
}

.contact__column:after {
  right: 57%;
}

.contact__column:before {
  left: 0%;
}

.contact__column:first-child:before {
  display: none;
}

@media screen and (max-width: 768px) {
  .contact__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__column:before, .contact__column:after {
    display: none;
  }
}

.contact__text {
  color: inherit;
  font-family: "Gotham - Book";
  font-size: .94em;
  font-weight: 300;
}

.contact__text:first-child {
  font-family: Gotham;
  font-weight: 700;
}

.contact__icon {
  padding: 0 20px;
}

.contact__link {
  color: inherit;
  font-family: Gotham;
  font-size: 15px;
  font-weight: 700;
  padding: 20px 90px 27px 0;
}

@media screen and (max-width: 1200px) {
  .contact__link {
    padding: 20px 0 27px;
  }
}

.note {
  height: 170px;
}

.note__column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 30px;
}

.note__column:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .note__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .note__column:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
