.header {
  position: relative;
  height: 100vh;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 30px);
  z-index: -9999;
  margin: 0 -15px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

.header .TopBar {
  height: 65px;
}
