%firstLetter {
    &:first-letter {
        text-transform: uppercase;
    }
}

%borderBottom {
    &:after {
        position: absolute;
        content: "";
        width: 110%;
        height: 1px;
        left: -5%;
        bottom: 0;
        background-color: #3b3b3b;
    }
}
