@import './variable.scss';
@import './extends.scss';

%borderBottom {
    &:after {
        position: absolute;
        content: "";
        width: 110%;
        height: 1px;
        left: -5%;
        bottom: 0;
        background-color: #3b3b3b;
    }
}

.newsletter {
    background-color: $primaryColor;
    margin: 0 -15px;
    z-index: 1;
    position: relative;
    padding: 20px;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    [class*="col-md-"] {
        z-index: 3;
    }
    &__header {
        color: #ffffff;
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }
    &__input {
        width: 210px;
        height: 40px;
        margin: 0 20px 20px 0;
        padding: 15px;
        border: none;
        border: 1px solid $primaryColor;
    }
    &__text {
        color: #ffffff;
        font-family: "Gotham - Book";
        font-size: .975em;
        font-weight: 400;
        &--bold {
            display: inline-flex;
        }
    }
    &__link {
        text-decoration: underline;
        color: inherit;
    }
    &__icon {
        margin-right: 7px;
    }
}

.footer {
    margin: 0 -15px;
    position: relative;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        object-fit: cover;
        object-position: right;
    } 
    &__links {
        position: relative;
        @extend %borderBottom;
        width: 100%;
    }
    &__link {
        color: #ffffff;
        font-size: .75em;
        font-weight: 500;
        line-height: 60px;
        text-transform: uppercase;
        padding-left: 46px;
        position: relative;
        transition: all ease-in-out .3s;
        &:hover {
            color: $primaryColor;
        }
        &:after {
            position: absolute;
            content: "";
            top: -50%;
            left: 23px;
            height: 200%;
            width: 2px;
            background-color: #3b3b3b;
        }
        &:first-child::after {
            display: none;
        }
    }
}

.gifts {
    padding-bottom: 23px;
    margin-bottom: 23px;
    position: relative;
    @extend %borderBottom;
    &__header {
        color: $primaryColor;
        font-family: Gotham;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        width: 90%;
    }
    &__link {
        color: #fff;
        font-family: "Gotham - Book";
        font-size: .82em;
        font-weight: 400;
        line-height: 22px;  
        display: flex;
        margin-bottom: 6px;
        transition: all ease-in-out .3s;
        &:hover {
            color: $primaryColor;
        }
    }
}

.contact {
    margin-bottom: 23px;
    padding-bottom: 23px;
    position: relative;
    @extend %borderBottom;
    &__header {
        color: $primaryColor;
        font-family: Gotham;
        font-size: 1.06em;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__item {
        display: inline-flex;
        align-self: center;
        color: #fff;
        transition: all ease-in-out .3s;
        &:hover {
            color: $primaryColor;
        }
        
    }
    &__column {
        display: inline-flex;
        justify-content: space-between;
    }
    &__text {
        color: inherit;
        font-family: "Gotham - Book";
        font-size: .94em;
        font-weight: 300;
        &:first-child {
            font-family: Gotham;
            font-weight: 700;
        }
    }
    &__icon {
        padding: 0 20px;
    }
    &__link {
        color: inherit;
        font-family: Gotham;
        font-size: 15px;
        font-weight: 700;
        padding: 20px 90px 27px 0;
    }
}

.socialIcons {
    height: 170px;;
}