@import './variable.scss';

.header {
    position: relative;
    height: 100vh;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 30px);
        z-index: -9999;
        margin: 0 -15px;
        height: 100%;
        object-fit: cover;
        object-position: left bottom;
        opacity: 0;
        &--active {
            opacity: 1;
        }
    }

    .TopBar {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        &__list {
            list-style: none;
            display: flex;
        }
        &__item {
            margin-right: 35px;
            align-self: center;
            &:last-child {
                margin: 0;
            }
        }
        &__link {
            color: #fff;
            font-size: 0.8em;
            font-weight: 700;
            line-height: 9.5px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .2s ease-in-out;
            &:hover {
                color: $primaryColor;  
            }
        }
        &__icon {
            color: $primaryColor;
            margin-right: 5px;
            &--search {
                margin: 0;
                font-size: 1.2em;
            }
        }
        &__form {
            position: relative;
        }
        &__input {
            width: 188px;
            height: 33px;
            background-color: #fff;
            padding: 12px 30px 12px 12px;
            &::placeholder {
                color: #333333;
                font-size: 12px;
                font-weight: 700;
            }
        }
        &__search {
            position: absolute;
            vertical-align: sub;
            margin-top: 3px;
            background: none;
            border: none;
            top: 0;
            right: 10px;
            bottom: 0;
            margin: auto;
        }
    }
    
    .logo {
        margin-left: -15px;
        padding: 20px 40px;
        background-color: #fff;
        display: inline-flex;
        &__slogan {
            align-self: center;
            margin-left: 50px;
            position: relative;
            &:before {
                content: '';
                width: 1px;
                height: 200%;
                background-color: #dbdbdb;
                position: absolute;
                left: -24px;
                top: -50%;
                z-index: 222;
            }
        }
        &__text {
            font-size: 1em;
            font-weight: 400;
            line-height: 17px;
            text-transform: uppercase;
            margin: 0;
            &:first-child {
                font-weight: 700;
            }
        }

    }
    .desktopMenu {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        float: right;
        align-items: flex-end;
        .PrimaryMenu {
            display: flex;
            justify-content: flex-end;
            margin-right: -15px;
            &__list {
                list-style: none;
                display: inline-flex;
                background-color: $primaryColor;
                margin: 0;
                text-align: center;
            }
            &__item {
                position: relative;
                padding: 25px 20px;
                cursor: pointer;
                &:last-child {
                    padding-right: 25px;
                }
                &:hover .dropdown {
                    display: block;
                }
            }
            &__link {
                color: #fff;
                font-size: 1em;
                font-weight: 400;
                line-height: 9.5px;
                text-transform: uppercase;
                text-decoration: none;
                display: inherit;
            }
            &__icon {
                font-size: 1.2em;
            }
        }

        .SecondaryMenu {
            @extend .PrimaryMenu ;
            &__list {
                list-style: none;
                display: inline-flex;
                background-color: #fff;
                margin: 0;
                z-index: 100;
            }
            &__item {
                padding: 15px 10px;
                transition: all ease-in-out .3s;
                color: #333333;
                &:hover {
                    background-color: $primaryColor;
                    color: #fff;
                }
            }
            &__link {
                color: inherit;
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 400;
                line-height: 9.5px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    
    .dropdown {     
        list-style: none;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        width: 100%;
        top: 33px;
        background-color: $primaryColor;
        &--primary {
            top: 55px;
        }
    }

    .jumbotron {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__slogan {
            color: #ffffff;
            font-size: 54px;
            font-weight: 700;
            line-height: 50px;
            margin: 0;
            text-transform: uppercase;
            margin-bottom: 25px;
            &:first-child {
                font-weight: 400;
            }
        }
        &__selectors {
            display: flex;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 15px;
            width: 700px;
            margin-bottom: 25px;
        }
        &__selector {
            background-color: #fff;
            color: #333333;
            font-size: .85em;
            font-weight: 400;
            line-height: 17px;
            padding: 15px;
            margin-right: 1px;
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            text-decoration: none;
            &:hover .dropdown {
                display: block;
            }
        }
        &__icon {
            color: $primaryColor;
            font-size: 1.3em;
        }
    }
}
