@import './variable.scss';
@import './extends.scss';
@import './mixins.scss';

.section {
    padding: 30px 0;
    &:nth-child(-1n + 3) {
        border-top: 1px solid #dbdbdb;
        margin: 0 -15px;
    }
    &__title {
        color: #333;
        font-size: 1.95em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 35px;
    }   
    &__paragraf {
        font-family: $fontBook;
        color: #333;
        font-size: .75em;
        line-height: 20px;
        font-weight: 300;
        text-align: justify;
        margin-bottom: 20px;
        &--bigger {
            font-weight: 700;
        }
    }
}

.category {
    display: grid;
    &__link {
        position: relative;
        &:hover .category__text {
            background-size: 100% 5px;
        }
    }
    &__text {
        font-family: $fontBlack;
        z-index: 99;
        position: absolute;
        right: 0;
        bottom: 70px;
        color: #fff;
        font-size: 1.9em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -1.6px;
        background-color: $primaryColor;
        padding: 17px 35px 17px 20px;
        @include underline(#fff);
        background-size: 0 5px;
        
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.bestseller {
    &__item {
        border: 1px solid #dbdbdb;
        margin-bottom: 20px;
        &:hover .bestseller__layer {
            opacity: 1;
        }
    }
    &__img {
        width: 100%;
        height: 180px;
        
    }
    &__top {
        position: relative;
    }
    &__layer, &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__layer {
        color: #fff;
        font-size: .8em;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: -0.15px;
        background-color: $primaryColor;
        position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;
		width: 100%;
        height: 180px;
        top: 0;
        opacity: 0;
        transition: all ease-in .3s;
        padding: 10px;
    }
    &__icons {
        padding-top: 10px;
        border-top: 1px solid #fff;
        font-size: 1.3em;
    }
    &__plane {
        margin-left: 10px;
        transform: rotate(-45deg)
    }
    &__info {
        height: 120px;
        padding: 5px;
        padding-bottom: 10px;
    }
    &__name, &__place, &__price {
        margin: 0;
    }
    &__name {
        color: #333333;
        font-size: .9em;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
    }
    &__place {
        color: #666;
        font-size: .875em;
        font-weight: 400;
        line-height: 16px;
        font-style: italic;
        font-family: "Gotham - Book Italic";
    }
    &__price {
        color: $primaryColor;
        font-size: .9em;
        font-weight: 700;
        line-height: 16px;
    }
}

.blog {
    &__item {
        &:hover .blog__link{
            background-size: 100% 2px;
        }
        margin-bottom: 20px;
    }
    &__imgDiv {
        position: relative;
    }
    &__img {
        height: 150px;
        width: 100%;
        border: 1px solid #dbdbdb;
        border-bottom: none;
    }
    &__imgInfo {
        position: absolute;
        bottom: 50px;
        right: 0;
        background-color: $primaryColor;
        padding: 9px 30px 9px 8px;
    }
    &__imgText {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: .9em;
        &:first-child {
            font-size: 1.2em;
        }
    }
    &__info {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid #dbdbdb;
        border-top: none;
        padding: 15px;
    }
    &__text {
        color: #333;
        font-size: .95em;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
    }
    &__link {
        color: $primaryColor;
        font-size: .82em;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        font-family: $fontBlack;
        @include underline($primaryColor);
        width: max-content;
    }
}

.faq {
    margin: 0 -15px;
    background-color: #eee;
    .section__title {
        margin: 0 0 12px;   
    }
    &__header, &__link {
        color: $primaryColor;
        line-height: 22px;
        text-transform: uppercase;
        font-family: $fontBlack;
    }
    &__text , &__link {
        font-size: .82em;
    }
    &__link {
        @include underline($primaryColor);
        width: max-content;
    }
    &__item {
        background-color: #fff;
        height: 180px;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover .faq__link{
            background-size: 100% 2px;
        }
    }
    &__headerWrapper {
        display: inline-flex;
    }
    &__header {
        font-size: 1.25em;
        display: inline-flex;
        align-self: center;
        margin-left: 20px;
    }
    &__text {
        color: #333333;
        line-height: 18px;    
        @extend %firstLetter;
        &--bold {
            font-size: .9em;
            font-weight: 500;
            margin: 10px 0;
            display: inline-flex;
        }
        &--center {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__text, &__text--center {
        font-family: $fontBook;
    }
    &__wrapper {
        background-color: #fff;
        height: 390px;
        padding: 35px 40px;
        @media screen and (max-width: 892px){
            height: auto;
        }
    }
    &__question {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dbdbdb;
        transition: all ease-in-out .3s;
        &:hover {
            border-color: $primaryColor;
        }
    }
    &__icon {
        align-self: center;
        color: $primaryColor;
        font-size: 1.3em;
    }
}

.ticket {
    position: relative;
    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;
        right: -15px;
        width: calc(100% + 30px);
        height: 100%;
        object-fit: cover;
        z-index: -999;
    }
    &__img {
        width: 100%;
        padding: 30px 0;
    }
}